.bg-color-green {
  background: $green;
}

.bg-color-dark {
  background: $dark;
}

.bg-color-light-gray {
  background: $light-gray;
}

.bg-color-dark-gray {
  background: $dark-gray;
}

.bg-color-white {
  background: $white;
}

.text-color-green {
  color: $green;
}

.text-color-dark {
  color: $dark;
}

.text-color-white {
  color: $white;
}
