$green: #b9ff66;
$dark: #191a23;
$light-gray: #f3f3f3;
$dark-gray: #292a32;
$white: white;

$font-primary: "Space Grotesk", sans-serif;

$text-sm: 14px;
$text-base: 16px;
$text-lg: 18px;
$text-xl: 20px;
$text-2xl: 24px;
$text-3xl: 28px;
$text-4xl: 30px;
$text-5xl: 36px;
$text-6xl: 60px;

$radius-sm: 5px;
$radius-md: 8px;
$radius-lg: 12px;
$radius-xl: 45px;
