.button {
  @include btn-base;

  &--outline {
    background: $white;
    color: $dark;
    padding: 12px 24px;
    border: 1px solid $dark;
    min-width: 150px;
  }

  &--primary {
    background: $dark;
    color: $white;
    width: 250px;
  }

  &--secondary {
    width: 200px;
    height: 50px;
    background: $green;
    border-radius: 14px;
    cursor: pointer;
    border: none;
    font: 500 $text-base $font-primary;
  }

  &--see-all {
    position: absolute;
    right: -60px;
    margin-left: auto;
    background: $dark;
    color: $white;
    width: 200px;
  }

  &--wide {
    margin-left: 40px;
    background: $dark;
    color: $white;
    width: 500px;
  }
}
