.contact {
  &__container {
    background: $light-gray;
    display: flex;
    height: 700px;
    border-radius: $radius-xl;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  &__image {
    position: absolute;
    height: 550px;
    margin-left: auto;
    right: -270px;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;

  &__options {
    display: flex;
    gap: 40px;
    padding: 40px;
    border: none;
  }
}
