.cta-section {
  display: flex;
  background: $light-gray;
  border-radius: 20px;
  align-items: center;
  position: relative;
  overflow: visible;
  height: 300px;

  &__content {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding-left: 40px;
  }

  &__title {
    font: 500 30px $font;
    color: $dark;
  }

  &__text {
    font: 400 18px/1.5 $font;
    color: $dark;
    padding: 40px 0;
  }

  &__image img {
    position: absolute;
    padding-left: 240px;
    height: 340px;
    top: -18px;
    bottom: -18px;
  }
}
