.process-step {
  border: $dark solid 1px;
  background: $light-gray;
  width: 100%;
  max-width: 1234px;
  height: 160px;
  border-radius: $radius-xl;
  @include card-shadow;
  margin: 40px auto;
  padding: 46px 0;

  &--active {
    background: $green;
    height: 280px;
    padding: 0;
  }

  &__header {
    display: flex;
    padding: 0 40px;
    align-items: center;
    justify-content: center;

    .process-step--active & {
      padding: 40px 0;
      border-bottom: 1px solid $dark;
      flex: 1;
      margin: 0 40px;
    }
  }

  &__number {
    font: 500 60px/100% $font;
  }

  &__title {
    font: 500 30px/100% $font;
    color: $dark;
    @include flex-center;
    padding-left: 20px;
    flex: 1;
  }

  &__toggle {
    margin-left: auto;
  }

  &__text {
    padding: 40px;
    font-family: $font;
  }
}
